{
  "openapi": "3.0.3",
  "info": {
    "title": "nBold API",
    "description": "Visit our [API documentation](https://docs.nbold.co/api/get-started) for more information.\n",
    "version": "2.0.0",
    "termsOfService": "https://nbold.co/legal/tos",
    "contact": {
      "name": "nBold Support",
      "url": "https://docs.nbold.co/api",
      "email": "support@nbold.co"
    },
    "license": {
      "name": "(c) Copyright 2021-2022 SalesTim - all rights reserved.",
      "url": "https://nbold.co/legal/eula"
    }
  },
  "servers": [
    {
      "url": "https://api.salestim.io/api/v1.0",
      "description": "Production environment"
    }
  ],
  "tags": [
    {
      "name": "Reports",
      "description": "Reporting endpoints",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/ReportsApi"
      }
    },
    {
      "name": "Metadata",
      "description": "Metadata for collaboration processes artefacts",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/MetadataApi"
      }
    },
    {
      "name": "Templates Catalog",
      "description": "Your corporate catalog of teams templates and governance policies.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi"
      }
    },
    {
      "name": "Approvals",
      "description": "Team creation requests approvals.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi"
      }
    },
    {
      "name": "Audit Trails",
      "description": "Platform audit trails.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi"
      }
    },
    {
      "name": "Microsoft Teams teams",
      "description": "Teams from your Microsoft Teams environment.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi"
      }
    },
    {
      "name": "Users",
      "description": "Users from your Microsoft 365 environment.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/UsersApi"
      }
    },
    {
      "name": "Jobs",
      "description": "Jobs that performs governance operations.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/JobsApi"
      }
    },
    {
      "name": "Sensitivity Labels",
      "description": "Microsoft 365 sensitivity labels.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/LabelsApi"
      }
    },
    {
      "name": "Webhooks",
      "description": "Platform Webhooks.",
      "externalDocs": {
        "url": "https://docs.nbold.co/api/latest/reference/Apis/HooksApi"
      }
    }
  ],
  "paths": {
    "/reports/categories": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get reports categories",
        "description": "Get reports categories",
        "operationId": "GetReportsCategories",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/ReportsApi.html#getreportscategories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a ReportsCategories object (Collection of ReportsCategory objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsCategories"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get reports",
        "description": "Get reports",
        "operationId": "GetReports",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/ReportsApi.html#getreports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a Reports object (Collection of Report objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{resource_type}/{resource_id}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get report secure URL",
        "description": "Get report secure URL",
        "operationId": "GetReportUrl",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/ReportsApi.html#getreporturl"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "description": "The resource type (dashboard / question).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_id",
            "in": "path",
            "description": "The resource id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a ReportUrl object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportUrl"
                }
              }
            }
          }
        }
      }
    },
    "/audit_trails/events": {
      "get": {
        "tags": [
          "Audit Trails"
        ],
        "summary": "Get audit trails",
        "description": "Get all the audit trails accessible in your organization. TIER 3 | ROLES - AUTHORIZED_APP, COMPLIANCE_MANAGER, TEAMS_SERVICE_ADMIN, GLOBAL_ADMIN.",
        "operationId": "GetAuditTrails",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/AuditTrailsApi.html#getaudittrails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an AuditTrails object (Collection of AuditTrail objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTrails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/audit_trails/{code}/records": {
      "get": {
        "tags": [
          "Audit Trails"
        ],
        "summary": "Get all the records from an audit trail",
        "description": "Get all the records from an audit trail. TIER 2 | ROLES - AUTHORIZED_APP, COMPLIANCE_MANAGER, TEAMS_SERVICE_ADMIN, GLOBAL_ADMIN.",
        "operationId": "GetAuditTrailRecords",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/AuditTrailsApi.html#getaudittrailrecords"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The audit trail code.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an AuditTrailRecords object (Collection of AuditTrailRecord objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTrailRecords"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/approvals/{approvalRequestId}/approve": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Approve a team creation request",
        "description": "Approve a team creation request. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "ApproveTeamCreation",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi.html#approveteamcreation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "approvalRequestId",
            "in": "path",
            "description": "The approval request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An ApprovedApprovalResponsePayload object.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovedApprovalResponsePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/approvals/{approvalRequestId}/reject": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Reject a team creation request",
        "description": "Reject a team creation request. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "RejectTeamCreation",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi.html#rejectteamcreation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "approvalRequestId",
            "in": "path",
            "description": "The approval request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An RejectedApprovalResponsePayload object.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectedApprovalResponsePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/catalog/templates": {
      "get": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Get teams templates",
        "description": "Get all the teams templates accessible in your organization. TIER 2️⃣ | ROLES - AUTHORIZED_APP, CATALOG_MANAGER, INTEGRATION_MANAGER, TEAMS_SERVICE_ADMIN, GLOBAL_ADMIN.",
        "operationId": "GetCatalogTemplates",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#getcatalogtemplates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTemplates"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/templates/{template_id}": {
      "get": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Get a Microsoft Teams team template",
        "description": "Get a Microsoft Teams team template by its ID",
        "operationId": "GetMicrosoftTeamsTeamTemplate",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#getmicrosoftteamsteamtemplate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "description": "The Microsoft Teams team template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a CatalogTemplate object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTemplate"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Set a Microsoft Teams team template",
        "description": "Set a Microsoft Teams team template by its ID",
        "operationId": "SetMicrosoftTeamsTeamTemplate",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#setmicrosoftteamsteamtemplate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "description": "The Microsoft Teams team template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A JSON representation of a Microsoft Teams team template.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/templates/{template_id}/permanent_membership": {
      "get": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Get permanent members and owners of a Microsoft Teams team template",
        "description": "Get permanent members and owners of a Microsoft Teams team template",
        "operationId": "GetMicrosoftTeamsTeamTemplatePermanentMembership",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#getmicrosoftteamsteamtemplatepermanentmembership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "description": "The Microsoft Teams team template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a PermanentMembership object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermanentMembership"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Set permanent members and owners of a Microsoft Teams team template",
        "description": "Set permanent members and owners of a Microsoft Teams team template",
        "operationId": "SetMicrosoftTeamsTeamTemplatePermanentMembership",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#setmicrosoftteamsteamtemplatepermanentmembership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "description": "The Microsoft Teams team template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A JSON representation of a Microsoft Teams team template permanent membership settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermanentMembership"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermanentMembership"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/templates/{template_id}/permanent_membership/{role}": {
      "get": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Get permanent members and owners of a Microsoft Teams team template",
        "description": "Get permanent members or owners of a Microsoft Teams team template",
        "operationId": "GetMicrosoftTeamsTeamTemplatePermanentMembershipByRole",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#getmicrosoftteamsteamtemplatepermanentmembershipbyrole"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "description": "The Microsoft Teams team template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "role",
            "description": "The Microsoft Teams ownership role (owners / members)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a PermanentMembers object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermanentMembers"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Set permanent members and owners of a Microsoft Teams team template",
        "description": "Set permanent members or owners of a Microsoft Teams team template",
        "operationId": "SetMicrosoftTeamsTeamTemplatePermanentMembershipByRole",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#setmicrosoftteamsteamtemplatepermanentmembershipbyrole"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "description": "The Microsoft Teams team template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "role",
            "description": "The Microsoft Teams ownership role (owners / members)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A JSON representation of a Microsoft Teams team template permanent members.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermanentMembers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermanentMembers"
                }
              }
            }
          }
        }
      }
    },
    "/me/catalog/templates": {
      "get": {
        "tags": [
          "Templates Catalog"
        ],
        "summary": "Get my teams templates",
        "description": "Get teams templates accessible to the connected user filtered by the audience targeting rules. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetMyCatalogTemplates",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#getmycatalogtemplates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTemplates"
                }
              }
            }
          }
        }
      }
    },
    "/me/labels": {
      "get": {
        "tags": [
          "Sensitivity Labels"
        ],
        "summary": "Get my sensitivity labels",
        "description": "Get my Microsoft 365 sensitivity labels. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetMyLabels",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/LabelsApi.html#getmylabels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a Labels object (Collection of Label objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Labels"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retreive users from your Microsoft 365 environment",
        "description": "Retreive users from your Microsoft 365 environment. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetUsers",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/UsersApi.html#getUsers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a Users object (Collection of User objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Users"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get a team",
        "description": "Get detailed information about a team. TIER 3️⃣ | ROLES - AUTHORIZED_APP, INTEGRATION_MANAGER, GOVERNANCE_MANAGER, TEAMS_SERVICE_ADMIN, GLOBAL_ADMIN.",
        "operationId": "GetTeam",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteam"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a Team object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "summary": "Update a team",
        "description": "Update a team. TIER 2️⃣ | ROLES - AUTHORIZED_APP, INTEGRATION_MANAGER, GOVERNANCE_MANAGER, TEAMS_SERVICE_ADMIN, GLOBAL_ADMIN.",
        "operationId": "UpdateTeam",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#updateteam"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Supply a JSON representation of team object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Delete a team",
        "description": "Delete a team. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "DeleteTeam",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#deleteteam"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}/metadata/{namespace}": {
      "get": {
        "tags": [
          "Microsoft Teams teams"
        ],
        "summary": "Get a team metadata",
        "description": "Get metadata for a team for a specific namespace.",
        "operationId": "GetTeamNamespaceMetadata",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#namespacemetadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The metadata namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the metadata of a Team object for a specific namespace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Microsoft Teams teams"
        ],
        "summary": "Set team metadata",
        "description": "Set team metadata for a specific namespace. N.B Using the PUT method will replace all pre-existing metadata.",
        "operationId": "SetTeamNamespaceMetadata",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#setteamnamespacemetadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The metadata namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Supply a JSON representation of your metadata.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "1": {
                  "summary": "Set a specific CRM opportunity ID as a single property",
                  "value": {
                    "crm_opportunity_id": 123
                  }
                },
                "2": {
                  "summary": "Set a specific CRM opportunity ID as a single property using JSON dotted notation",
                  "value": {
                    "crm_opportunity": {
                      "id": 123
                    }
                  }
                },
                "3": {
                  "summary": "Set multiple CRM opportunity and account properties using JSON dotted notation",
                  "value": {
                    "crm_opportunity": {
                      "id": 123,
                      "name": "Opty 1"
                    },
                    "crm_account": {
                      "id": 456,
                      "name": "Contoso Inc"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns the metadata of a Team object for a specific namespace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Microsoft Teams teams"
        ],
        "summary": "Update a team metadata",
        "description": "Update a team metadata for a specific namespace. N.B Using the PATCH method will merge supplied body with pre-existing metadata.",
        "operationId": "UpdateTeamNamespaceMetadata",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#updateteamnamespacemetadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The metadata namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Supply a JSON representation of your metadata.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "1": {
                  "summary": "Add a specific CRM opportunity ID to existing metadata as a single property",
                  "value": {
                    "crm_opportunity_id": 123
                  }
                },
                "2": {
                  "summary": "Add a specific CRM opportunity ID to existing metadata as a single property using JSON dotted notation",
                  "value": {
                    "crm_opportunity": {
                      "id": 123
                    }
                  }
                },
                "3": {
                  "summary": "Add a multiple CRM opportunity and account properties to existing metadata using JSON dotted notation",
                  "value": {
                    "crm_opportunity": {
                      "id": 123,
                      "name": "Opty 1"
                    },
                    "crm_account": {
                      "id": 456,
                      "name": "Contoso Inc"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns the metadata of a Team object for a specific namespace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }
        }
      }
    },
    "/metadata/{namespace}/query": {
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Query metadata",
        "description": "Query metadata for a specific namespace. TIER 2️⃣ | ROLES - AUTHORIZED_APP, INTEGRATION_MANAGER, GOVERNANCE_MANAGER, TEAMS_SERVICE_ADMIN, GLOBAL_ADMIN.",
        "operationId": "QueryMetadata",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/MetadataApi.html#querymetadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "The metadata namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Supply a JSON representation of your query.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "1": {
                  "summary": "Search for an artefact associated with a specific CRM opportunity as a single property",
                  "value": {
                    "crm_opportunity_id": 123
                  }
                },
                "2": {
                  "summary": "Search for an artefact associated with a specific CRM opportunity using JSON dotted notation",
                  "value": {
                    "crm_opportunity": {
                      "id": 123
                    }
                  }
                },
                "3": {
                  "summary": "Search for an artefact associated with multiple CRM objects using JSON dotted notation",
                  "value": {
                    "crm_opportunity": {
                      "id": 123
                    },
                    "crm_account": {
                      "id": 456
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns a list of artefacts from a query on their metadata from a specific namespace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataQueryResults"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/archive": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Archive a team",
        "description": "Archive a team. TIER 1️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "ArchiveTeam",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#archiveteam"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "In the request, you may optionally include the shouldSetSpoSiteReadOnlyForMembers parameter in a JSON body. This optional parameter defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team. Setting it to false or omitting the body altogether will result in this step being skipped.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}/unarchive": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Unarchive a team",
        "description": "Unarchive a team. TIER 1️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "UnarchiveTeam",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#unarchiveteam"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}/members": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get team members",
        "description": "Get team members.",
        "operationId": "GetTeamMembers",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteammember"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a collection of team members object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembers"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Add a team member",
        "description": "Add a team member. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "AddTeamMember",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#addteammember"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "TeamMembershipPayload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembershipPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "400": null,
            "description": "Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMember"
                }
              }
            },
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/provisioning": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create a new team based on a template",
        "description": "Create a new team provisioning job. TIER 1️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "CreateTeamProvisioningJob",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#createteamprovisioningjob"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "A TeamProvisioningRequest object describing the job to execute.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamProvisioningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - Returns a Job object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}/channels": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get team channels",
        "description": "Get team channels. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetTeamChannels",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteamchannels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a TeamChannels object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamChannels"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create a new team channel",
        "description": "Create a new team channel. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "CreateTeamChannel",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#createteamchannel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A TeamChannelPayload object describing the channel to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamChannelPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - Returns a TeamChannel object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamChannel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}/channels/primary": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get the primary channel of a team",
        "description": "Get the primary channel of a team. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetTeamPrimaryChannel",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteamprimarychannel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a TeamChannel object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamChannel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/teams/{teamId}/channels/{channelId}/tabs": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get team channel tabs",
        "description": "Get team channel tabs. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetTeamChannelTabs",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteamchanneltabs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "The team channel ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a TeamChannelTabs object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamChannelTabs"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create a new team channel tab",
        "description": "Create a new team channel tab. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "CreateTeamChannelTab",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#createteamchanneltab"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The team ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "The team channel ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A TeamChannelTabPayload object describing the tab to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamChannelTabPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - Returns a TeamChannelTab object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamChannelTab"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get information about a job",
        "description": "Get detailed information about a job, including its status, progress, logs... TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetJob",
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/JobsApi.html#getjob"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns a Job object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhooks events",
        "description": "Get webhooks events. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GetHooksEvents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#gethooksevents"
        },
        "responses": {
          "200": {
            "description": "OK - Returns a HooksEvents object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HooksEvents"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/hooks/signature": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Generate a signature from a secret and a webhook payload",
        "description": "Generate a signature from a secret and a webhook payload. TIER 3️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "GenerateHookSignature",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#generatehooksignature"
        },
        "requestBody": {
          "description": "A HookSignatureRequest object comprised of the secret and payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookSignatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Generated - Returns a HookSignature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HookSignature"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/hooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook",
        "description": "Create a new webhook. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "CreateHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#createhook"
        },
        "requestBody": {
          "description": "A HookPayload object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookPayload"
              }
            }
          },
          "required": true
        },
        "callbacks": {
          "team_created": {
            "{$request.body#/config/url}": {
              "post": {
                "requestBody": {
                  "$ref": "#/components/requestBodies/TeamCreatedNotificationPayload"
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  }
                }
              }
            }
          },
          "team_provisioning_completed": {
            "{$request.body#/config/url}": {
              "post": {
                "requestBody": {
                  "$ref": "#/components/requestBodies/TeamProvisioningCompletedNotificationPayload"
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  }
                }
              }
            }
          },
          "team_creation_approval_requested": {
            "{$request.body#/config/url}": {
              "post": {
                "requestBody": {
                  "$ref": "#/components/requestBodies/TeamCreationApprovalRequestedNotificationPayload"
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  }
                }
              }
            }
          },
          "team_creation_approved": {
            "{$request.body#/config/url}": {
              "post": {
                "requestBody": {
                  "$ref": "#/components/requestBodies/TeamCreationApprovalApprovedNotificationPayload"
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  }
                }
              }
            }
          },
          "team_creation_rejected": {
            "{$request.body#/config/url}": {
              "post": {
                "requestBody": {
                  "$ref": "#/components/requestBodies/TeamCreationApprovalRejectedNotificationPayload"
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns a Hook object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/hooks/{hookId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "description": "Delete a webhook. TIER 2️⃣ | ROLES - AUTHENTICATED_USER.",
        "operationId": "DeleteHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#deletehook"
        },
        "parameters": [
          {
            "name": "hookId",
            "in": "path",
            "description": "ID of the webhook to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the deleted Hook object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "402": {
            "$ref": "#/components/responses/402"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "default": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "description": "A valid Microsoft 365 access_token issued by Azure AD.",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "requestBodies": {
      "TeamCreationApprovalRequestedNotificationPayload": {
        "description": "Team Creation Approval Requested Notification Payload.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tenant": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Current tenant ID",
                      "type": "string"
                    }
                  }
                },
                "requester": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Requester ID",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "Requester display name",
                      "type": "string"
                    },
                    "mail": {
                      "description": "Requester email",
                      "type": "string"
                    }
                  }
                },
                "approval": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Approval request ID",
                      "type": "string"
                    }
                  }
                },
                "template": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Template ID",
                      "type": "string"
                    },
                    "name": {
                      "description": "Template name",
                      "type": "string"
                    },
                    "approvers": {
                      "description": "Approval team",
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "permanentMembership": {
                      "description": "Permanent members and owners",
                      "type": "object"
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "properties": {
                    "team": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Requested team name",
                          "type": "string"
                        },
                        "description": {
                          "description": "Requested team description",
                          "type": "string"
                        },
                        "welcomeMessage": {
                          "description": "Requested team welcome message",
                          "type": "string"
                        }
                      }
                    },
                    "membership": {
                      "description": "Requested members and owners",
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TeamCreationApprovalApprovedNotificationPayload": {
        "description": "Team Creation Approval Approved Notification Payload.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tenant": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Current tenant ID",
                      "type": "string"
                    }
                  }
                },
                "requester": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Requester ID",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "Requester display name",
                      "type": "string"
                    },
                    "mail": {
                      "description": "Requester email",
                      "type": "string"
                    }
                  }
                },
                "approval": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Approval request ID",
                      "type": "string"
                    },
                    "approver": {
                      "description": "Approver",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Approver ID",
                          "type": "string"
                        },
                        "message": {
                          "description": "Approver message",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "template": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Template ID",
                      "type": "string"
                    },
                    "name": {
                      "description": "Template name",
                      "type": "string"
                    },
                    "approvers": {
                      "description": "Approval team",
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "permanentMembership": {
                      "description": "Permanent members and owners",
                      "type": "object"
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "properties": {
                    "team": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Requested team name",
                          "type": "string"
                        },
                        "description": {
                          "description": "Requested team description",
                          "type": "string"
                        },
                        "welcomeMessage": {
                          "description": "Requested team welcome message",
                          "type": "string"
                        }
                      }
                    },
                    "membership": {
                      "description": "Requested members and owners",
                      "type": "object"
                    }
                  }
                },
                "provisioning": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Provisioning Job ID",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TeamCreationApprovalRejectedNotificationPayload": {
        "description": "Team Creation Approval Rejected Notification Payload.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tenant": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Current tenant ID",
                      "type": "string"
                    }
                  }
                },
                "requester": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Requester ID",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "Requester display name",
                      "type": "string"
                    },
                    "mail": {
                      "description": "Requester email",
                      "type": "string"
                    }
                  }
                },
                "approval": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Approval request ID",
                      "type": "string"
                    },
                    "approver": {
                      "description": "Approver",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Approver ID",
                          "type": "string"
                        },
                        "message": {
                          "description": "Approver message",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "template": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Template ID",
                      "type": "string"
                    },
                    "name": {
                      "description": "Template name",
                      "type": "string"
                    },
                    "approvers": {
                      "description": "Approval team",
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "permanentMembership": {
                      "description": "Permanent members and owners",
                      "type": "object"
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "properties": {
                    "team": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Requested team name",
                          "type": "string"
                        },
                        "description": {
                          "description": "Requested team description",
                          "type": "string"
                        },
                        "welcomeMessage": {
                          "description": "Requested team welcome message",
                          "type": "string"
                        }
                      }
                    },
                    "membership": {
                      "description": "Requested members and owners",
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TeamCreatedNotificationPayload": {
        "description": "Team Created Notification Payload.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tenant": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Current tenant ID",
                      "type": "string"
                    }
                  }
                },
                "team": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Created team ID",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TeamProvisioningCompletedNotificationPayload": {
        "description": "Team Provisioning Completed Notification Payload.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tenant": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Current tenant ID",
                      "type": "string"
                    },
                    "initialDomainName": {
                      "description": "Current tenant initial domain name",
                      "type": "string"
                    },
                    "defaultDomainName": {
                      "description": "Current tenant default domain name",
                      "type": "string"
                    }
                  }
                },
                "team": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Created team ID",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "Created team display name",
                      "type": "string"
                    }
                  }
                },
                "requester": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Requester ID",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "Requester display name",
                      "type": "string"
                    }
                  }
                },
                "template": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Provisioning template  ID",
                      "type": "string"
                    },
                    "name": {
                      "description": "Provisioning template name",
                      "type": "string"
                    }
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ReportsCategories": {
        "title": "Reports categories",
        "description": "A collection of reports categories.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ReportsCategory"
        }
      },
      "ReportsCategory": {
        "title": "Reports category",
        "description": "A category of reports.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Reports category ID",
            "type": "string"
          },
          "title": {
            "description": "Reports category title",
            "type": "string"
          },
          "description": {
            "description": "Reports category description",
            "type": "string"
          }
        }
      },
      "Reports": {
        "title": "Reports",
        "description": "A collection of reports.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Report"
        }
      },
      "Report": {
        "title": "Report",
        "description": "A report.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Report ID",
            "type": "string"
          },
          "type": {
            "description": "Report type (dashboard / question)",
            "type": "string"
          },
          "title": {
            "description": "Report title",
            "type": "string"
          },
          "description": {
            "description": "Report description",
            "type": "string"
          },
          "logo": {
            "description": "Report logo",
            "type": "string"
          },
          "parameters": {
            "description": "Report parameters (tenant_id / user_id)",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category_id": {
            "description": "Report category ID",
            "type": "string"
          }
        }
      },
      "ReportUrl": {
        "title": "Report URL",
        "description": "A report url.",
        "type": "object",
        "properties": {
          "url": {
            "description": "Report URL",
            "type": "string"
          }
        }
      },
      "ApprovedApprovalResponsePayload": {
        "title": "A positive approval response payload",
        "description": "A positive approval response payload.",
        "type": "object",
        "properties": {
          "message": {
            "description": "Approval response message",
            "type": "string"
          },
          "approver": {
            "description": "Approval approver",
            "type": "object",
            "properties": {
              "id": {
                "description": "Approver ID",
                "type": "string"
              }
            }
          },
          "updates": {
            "description": "Updates made by the approver",
            "type": "object",
            "properties": {
              "name": {
                "description": "Updated team name",
                "type": "string"
              },
              "description": {
                "description": "Updated team description",
                "type": "string"
              },
              "welcomeMessage": {
                "description": "Updated welcome message",
                "type": "string"
              }
            }
          }
        }
      },
      "RejectedApprovalResponsePayload": {
        "title": "A negative approval response payload",
        "description": "A negative approval response payload.",
        "type": "object",
        "properties": {
          "message": {
            "description": "Approval response message",
            "type": "string"
          },
          "approver": {
            "description": "Approval approver",
            "type": "object",
            "properties": {
              "id": {
                "description": "Approver ID",
                "type": "string"
              }
            }
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "description": "Metadata for a collaboration process artefact.",
        "type": "object"
      },
      "MetadataQueryResults": {
        "title": "Metadata query results",
        "description": "Results of a metadata query.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MetadataQueryResult"
        }
      },
      "MetadataQueryResult": {
        "title": "Metadata query result",
        "description": "ResultsMetadata for a collaboration process artefact.",
        "type": "object",
        "properties": {
          "artefact_type": {
            "description": "Artefact type (Among \"MicrosoftTeamsTeam\", \"MicrosoftTeamsChannel\", \"MicrosoftTeamsConversation\")",
            "type": "string"
          },
          "artefact_id": {
            "description": "Artefact ID",
            "type": "string"
          }
        }
      },
      "Team": {
        "title": "Team",
        "description": "A Microsoft Teams team.",
        "type": "object",
        "properties": {
          "@odata.context": {
            "title": "OData Context",
            "description": "OData Context",
            "type": "string"
          },
          "id": {
            "title": "Team ID",
            "description": "Team ID",
            "type": "string"
          },
          "createdDateTime": {
            "title": "Team Created Date Time",
            "description": "Team Created Date Time",
            "type": "string"
          },
          "displayName": {
            "title": "Team Display Name",
            "description": "Team Display Name",
            "type": "string"
          },
          "description": {
            "title": "Team Description",
            "description": "Team Description",
            "type": "string"
          },
          "internalId": {
            "title": "Team Internal ID",
            "description": "Team Internal ID",
            "type": "string"
          },
          "classification": {
            "title": "Team Classification",
            "description": "Team Classification",
            "type": "string"
          },
          "specialization": {
            "title": "Team Specialization",
            "description": "Team Specialization",
            "type": "string"
          },
          "visibility": {
            "title": "Team Visibility",
            "description": "Team Visibility",
            "type": "string"
          },
          "webUrl": {
            "title": "Team Web URL",
            "description": "Team Web URL",
            "type": "string"
          },
          "isArchived": {
            "title": "Team Is Archived",
            "description": "Team Is Archived",
            "type": "boolean"
          },
          "isMembershipLimitedToOwners": {
            "title": "Team Is Membership Limited To Owners",
            "description": "Team Is Membership Limited To Owners",
            "type": "boolean"
          },
          "discoverySettings": {
            "type": "object",
            "properties": {
              "showInTeamsSearchAndSuggestions": {
                "title": "Shown in search suggestions",
                "description": "Is the team shown in search suggestions",
                "type": "boolean"
              }
            }
          },
          "memberSettings": {
            "type": "object",
            "properties": {
              "allowCreateUpdateChannels": {
                "title": "Allow create Update Channels",
                "description": "Allow create update channels",
                "type": "boolean"
              },
              "allowCreatePrivateChannels": {
                "title": "Allow create private channels",
                "description": "Allow create private channels",
                "type": "boolean"
              },
              "allowDeleteChannels": {
                "title": "Allow delete channels",
                "description": "Allow delete channels",
                "type": "boolean"
              },
              "allowAddRemoveApps": {
                "title": "Allow add/remove apps",
                "description": "Allow add/remove apps",
                "type": "boolean"
              },
              "allowCreateUpdateRemoveTabs": {
                "title": "Allow create/remove tabs",
                "description": "Allow create/remove tabs",
                "type": "boolean"
              },
              "allowCreateUpdateRemoveConnectors": {
                "title": "Allow create/remove connectors",
                "description": "Allow create/remove connectors",
                "type": "boolean"
              }
            }
          },
          "guestSettings": {
            "type": "object",
            "properties": {
              "allowCreateUpdateChannels": {
                "title": "Allow create/update channels by guests",
                "description": "Allow create/update channels by guests",
                "type": "boolean"
              },
              "allowDeleteChannels": {
                "title": "Allow delete channels by guests",
                "description": "Allow delete channels by guests",
                "type": "boolean"
              }
            }
          },
          "messagingSettings": {
            "type": "object",
            "properties": {
              "allowUserEditMessages": {
                "title": "Allow users to edit messages",
                "description": "Allow users to edit messages",
                "type": "boolean"
              },
              "allowUserDeleteMessages": {
                "title": "Allow users to delete their own messages",
                "description": "Allow users to delete their own messages",
                "type": "boolean"
              },
              "allowOwnerDeleteMessages": {
                "title": "Allow owners to delete messages",
                "description": "Allow owners to delete messages",
                "type": "boolean"
              },
              "allowTeamMentions": {
                "title": "Allow team mentions",
                "description": "Allow team mentions",
                "type": "boolean"
              },
              "allowChannelMentions": {
                "title": "Allow channel mentions",
                "description": "Allow channel mentions",
                "type": "boolean"
              }
            }
          },
          "funSettings": {
            "type": "object",
            "properties": {
              "allowGiphy": {
                "title": "Allow Giphy",
                "description": "Allow Giphy",
                "type": "boolean"
              },
              "giphyContentRating": {
                "title": "Giphy content rating level",
                "description": "Giphy content rating level",
                "type": "string"
              },
              "allowStickersAndMemes": {
                "title": "Allow stickers and memes",
                "description": "Allow stickers and memes",
                "type": "boolean"
              },
              "allowCustomMemes": {
                "title": "Allow custom memes",
                "description": "Allow custom memes",
                "type": "boolean"
              }
            }
          }
        }
      },
      "TeamMembershipPayload": {
        "title": "Team Membership Payload",
        "description": "Team Membership Payload.",
        "type": "object",
[...]
