/* ############################################################################################# */
/* # FONTS */
/* ############################################################################################# */
@font-face {
  font-family: Everett;
  src: url('/fonts/Everett-Light.otf');
}

@font-face {
  font-family: Signifier;
  src: url('/fonts/Signifier-Light.otf');
}

body {
   font-family: Everett !important;
}

/* ############################################################################################# */
/* # SITE LAYOUT */
/* ############################################################################################# */
#main-title {
  width: 90%;
  max-width: 90%;
  font-size: 60px;
}

.theme-default-content:not(.custom) {
  max-width: 100%;
  padding: 2rem 2.5rem 0rem !important;
}

footer {
  max-width: 100% !important;
}

div .page-nav {
  max-width: 100% !important;
}

.navbar {
  /* border-bottom: 0px; */
}

.sidebar {
  /* border-right: 0px; */
}

h1 {
  font-size: 4rem;
  font-family: Everett !important;
  background: linear-gradient(45deg, #253BFE, #FF0000);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block
}

h2 {
  /* color: #020632; */
  font-family: Everett !important;
  background: linear-gradient(45deg, #253BFE, #FF0000);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block
}

blockquote > p {
    color: #020632 !important;
    font-weight: bold;
    font-family: Signifier !important;
    font-size: 1.4rem !important;
}

.settings-button {
  /* display: none !important; */
}

/* ############################################################################################# */
/* # SWAGGER UI */
/* ############################################################################################# */

.information-container {
  display: none;
}
.scheme-container {
  display: none;
}
