/* ############################################################################################# */
/* # SITE LAYOUT */
/* ############################################################################################# */
#main-title {
  width: 90%;
  max-width: 90%;
  font-size: 60px;
}

.theme-default-content:not(.custom) {
  max-width: 100%;
  padding: 2rem 2.5rem 0rem !important;
}

footer {
  max-width: 100% !important;
}

div .page-nav {
  max-width: 100% !important;
}

.navbar {
  /* border-bottom: 0px; */
}

.sidebar {
  /* border-right: 0px; */
}

h1 {
  font-size: 4rem;
  background: linear-gradient(45deg, #253BFE, #FF0000);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block
}

.settings-button {
  display: none !important;
}

/* ############################################################################################# */
/* # SWAGGER UI */
/* ############################################################################################# */

.information-container {
  display: none;
}
.scheme-container {
  display: none;
}
