# -----------------------------------------------------------------------------
# -----------------------------------------------------------------------------
# MANIFEST
swagger: "2.0"

info:
  version: "1.2.4"
  x-ms-deployment-version: "1.2.4"
  x-ms-api-annotation:
    status: Production
  title: nBold Collaborative Process Automation
  description: >
    Improve collaborative processes, governance, compliance and security of your Microsoft Teams environment.
  contact:
    name: nBold Support
    url: https://docs.nbold.co/api
    email: support@nbold.co

x-ms-connector-metadata:
  - propertyName: Website
    propertyValue: https://nbold.co
  - propertyName: Privacy policy
    propertyValue: https://nbold.co/legal/privacy
  - propertyName: Categories
    propertyValue: Productivity;IT Operations

# -----------------------------------------------------------------------------
# HTTP PROPERTIES
# -----------------------------------------------------------------------------
host: api.salestim.io
basePath: /api/v1.0
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

# -----------------------------------------------------------------------------
# SECURITY
# -----------------------------------------------------------------------------
securityDefinitions:
  oauth2_auth:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://login.windows.net/common/oauth2/authorize
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default",
      }
security:
  - oauth2_auth: ["https://graph.microsoft.com/.default"]

# -----------------------------------------------------------------------------
# TAGS
# -----------------------------------------------------------------------------
tags:
  - name: catalog
    description: Your corporate catalog of collaboration templates and governance policies.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/CatalogApi
  - name: approvals
    description: Team creation requests approvals.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi
  - name: teams
    description: Teams from your Microsoft Teams environment.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi
  - name: users
    description: Users from your Microsoft 365 environment.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/UsersApi
  - name: jobs
    description: Jobs that performs governance operations.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/JobsApi
  - name: labels
    description: Microsoft 365 sensitivity labels.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/LabelsApi
  - name: hooks
    description: nBold Platform Webhooks.
    externalDocs:
      url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi

# -----------------------------------------------------------------------------
# POWER PLATFORM / LOGIC APPS CAPABILITIES
# -----------------------------------------------------------------------------
x-ms-capabilities:
  testConnection:
    operationId: TestAPIConnection

# -----------------------------------------------------------------------------
# OPERATIONS
# -----------------------------------------------------------------------------
paths:
  # -----------------------------------------------------------------------------
  # HIDDEN: POWER PLATFORM / LOGIC APPS MONITORING OPERATION
  # -----------------------------------------------------------------------------
  /monitoring/test_api_connection:
    get:
      tags:
        - monitoring
      x-ms-visibility: internal
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: TestAPIConnection
        revision: 1
      summary: Test Connection to the nBold API
      description: Test connection to the nBold API
      operationId: TestAPIConnection
      responses:
        "200":
          description: OK
        default:
          description: Operation failed.

  # -----------------------------------------------------------------------------
  # APPROVALS
  # -----------------------------------------------------------------------------
  /approvals/{approvalRequestId}/approve:
    post:
      tags:
        - approvals
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: ApproveTeamCreation
        revision: 1
      summary: Approve a Team Creation Request
      description: Approve a team creation request.
      operationId: ApproveTeamCreation
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi.html#approveteamcreation
      parameters:
        - name: approvalRequestId
          in: path
          x-ms-summary: Approval Request
          description: The ID of the approval request you want to approve.
          required: true
          type: string
        - in: body
          name: approveTeamCreationRequestBody
          description: An ApproveTeamCreationRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/ApproveTeamCreationRequestBody"
      responses:
        "200":
          description: OK
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /approvals/{approvalRequestId}/reject:
    post:
      tags:
        - approvals
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: RejectTeamCreation
        revision: 1
      summary: Reject a Team Creation Request
      description: Reject a team creation request.
      operationId: RejectTeamCreation
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/ApprovalsApi.html#rejectteamcreation
      parameters:
        - name: approvalRequestId
          in: path
          x-ms-summary: Approval Request
          description: The ID of the approval request you want to reject.
          required: true
          type: string
        - in: body
          name: rejectTeamCreationRequestBody
          description: An RejectTeamCreationRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/RejectTeamCreationRequestBody"
      responses:
        "200":
          description: OK
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # TEMPLATES
  # -----------------------------------------------------------------------------
  /me/catalog/templates:
    get:
      tags:
        - catalog
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetMyCatalogTemplates
        revision: 1
      summary: Get My Teams Collaboration Templates
      description: Get the teams collaboration templates accessible to the connected user filtered by the audience targeting rules.
      operationId: GetMyCatalogTemplates
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/CatalogApi.html#getmycatalogtemplates
      responses:
        "200":
          description: OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).
          schema:
            $ref: "#/definitions/CatalogTemplates"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # LABELS
  # -----------------------------------------------------------------------------
  /me/labels:
    get:
      tags:
        - labels
      x-ms-visibility: advanced
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetMyLabels
        revision: 1
      summary: Get My Sensitivity Labels
      description: Get my Microsoft 365 sensitivity labels.
      operationId: GetMyLabels
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/LabelsApi.html#getmylabels
      responses:
        "200":
          description: OK - Returns a Labels object (Collection of Label objects).
          schema:
            $ref: "#/definitions/Labels"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # USERS
  # -----------------------------------------------------------------------------
  /users:
    get:
      tags:
        - users
      x-ms-visibility: advanced
      deprecated: false
      x-ms-api-annotation:
        status: Preview
        family: GetUsers
        revision: 1
      summary: Get Users
      description: Retreive users from your Microsoft 365 environment.
      operationId: GetUsers
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/UsersApi.html#getUsers
      responses:
        "200":
          description: OK - Returns a Users object (Collection of User objects).
          schema:
            $ref: "#/definitions/Users"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # TEAMS
  # -----------------------------------------------------------------------------
  /teams/{teamId}:
    get:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetTeam
        revision: 1
      summary: Get a Team
      description: Get detailed information about a team.
      operationId: GetTeam
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteam
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: A team ID.
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns a Team object.
          schema:
            $ref: "#/definitions/Team"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"
    delete:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: DeleteTeam
        revision: 1
      summary: Delete a team
      description: Delete a team.
      operationId: DeleteTeam
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#deleteteam
      parameters:
        - in: path
          name: teamId
          description: The team ID.
          required: true
          type: string
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/{teamId}/archive:
    post:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: ArchiveTeam
        revision: 1
      summary: Archive a Team
      description: Archive a team.
      operationId: ArchiveTeam
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#archiveteam
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
        - in: body
          name: teamArchivingOptions
          description: In the request, you may optionally include the shouldSetSpoSiteReadOnlyForMembers parameter in a JSON body. This optional parameter defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team. Setting it to false or omitting the body altogether will result in this step being skipped.
          required: false
          schema:
            $ref: "#/definitions/TeamArchivingOptions"
      responses:
        "202":
          description: Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/{teamId}/unarchive:
    post:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: UnarchiveTeam
        revision: 1
      summary: Unarchive a Team
      description: Unarchive a team.
      operationId: UnarchiveTeam
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#unarchiveteam
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
      responses:
        "202":
          description: Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/{teamId}/members:
    post:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: AddTeamMember
        revision: 1
      summary: Invite a Member in a Team
      description: Invite a team member as a member or an owner.
      operationId: AddTeamMember
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#addteammember
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
        - in: body
          name: TeamMembershipPayload
          description: A TeamMembershipPayload object.
          required: true
          schema:
            $ref: "#/definitions/TeamMembershipPayload"
      responses:
        "201":
          description: Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.
          schema:
            $ref: "#/definitions/TeamMember"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/provisioning:
    post:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: CreateTeamProvisioningJob
        revision: 1
      summary: Create a Team Based on a Collaboration Template
      description: Create a team provisioning job based on a collaboration template. This template may include files, folders, Planner tasks, private channels...
      operationId: CreateTeamProvisioningJob
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#createteamprovisioningjob
      parameters:
        - in: body
          name: TeamProvisioningRequest
          description: A TeamProvisioningRequest object describing the job to execute.
          required: true
          schema:
            $ref: "#/definitions/TeamProvisioningRequest"
      responses:
        "201":
          description: Created - Returns a Job object.
          schema:
            $ref: "#/definitions/Job"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/{teamId}/channels:
    get:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetTeamChannels
        revision: 1
      summary: Get the Channels of a Team
      description: Get all the channels of a team.
      operationId: GetTeamChannels
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteamchannels
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns a TeamChannels object.
          schema:
            $ref: "#/definitions/TeamChannels"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"
    post:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: CreateTeamChannel
        revision: 1
      summary: Create a Channel in a Team
      description: Create a new team channel.
      operationId: CreateTeamChannel
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#createteamchannel
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
        - in: body
          name: teamChannelPayload
          description: A TeamChannelPayload object describing the channel to create.
          required: true
          schema:
            $ref: "#/definitions/TeamChannelPayload"
      responses:
        "201":
          description: Created - Returns a Job object.
          schema:
            $ref: "#/definitions/Job"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/{teamId}/channels/primary:
    get:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetTeamPrimaryChannel
        revision: 1
      summary: Get the Primary Channel of a Team
      description: Get the primary channel of a team.
      operationId: GetTeamPrimaryChannel
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteamprimarychannel
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns a TeamChannel object.
          schema:
            $ref: "#/definitions/TeamChannel"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /teams/{teamId}/channels/{channelId}/tabs:
    get:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetTeamChannelTabs
        revision: 1
      summary: Get Tabs from a Team Channels
      description: Get the tabs of a channel from a team.
      operationId: GetTeamChannelTabs
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#getteamchanneltabs
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
        - in: path
          name: channelId
          x-ms-summary: Channel
          description: The team channel ID.
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns a TeamChannelTabs object.
          schema:
            $ref: "#/definitions/TeamChannelTabs"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"
    post:
      tags:
        - teams
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: CreateTeamChannelTab
        revision: 1
      summary: Create a Tab in a Team Channel
      description: Create a new tab in a team channel.
      operationId: CreateTeamChannelTab
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/TeamsApi.html#createteamchanneltab
      parameters:
        - in: path
          name: teamId
          x-ms-summary: Team
          description: The team ID.
          required: true
          type: string
        - in: path
          name: channelId
          x-ms-summary: Channel
          description: The team channel ID.
          required: true
          type: string
        - in: body
          name: teamChannelTabPayload
          description: A TeamChannelTabPayload object describing the channel to create.
          required: true
          schema:
            $ref: "#/definitions/TeamChannelTabPayload"
      responses:
        "201":
          description: Created - Returns a TeamChannelTab object.
          schema:
            $ref: "#/definitions/TeamChannelTab"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # JOBS
  # -----------------------------------------------------------------------------
  /jobs/{jobId}:
    get:
      tags:
        - jobs
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GetJob
        revision: 1
      summary: Get a Job
      description: Get detailed information about a job, including its status, progress, logs...
      operationId: GetJob
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/JobsApi.html#getjob
      parameters:
        - in: path
          name: jobId
          x-ms-summary: Job
          description: The job ID generated during its creation.
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns a Job object.
          schema:
            $ref: "#/definitions/Job"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # WEBHOOKS TRIGGERS
  # -----------------------------------------------------------------------------
  /hooks/team_creation_approval_requested:
    x-ms-notification-content:
      description: Payload of the Team Creation Approval Requested event
      schema:
        $ref: "#/definitions/TeamCreationApprovalRequestedNotificationPayload"
    post:
      tags:
        - hooks
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: TeamCreationApprovalRequestedHook
        revision: 1
      x-ms-trigger: "single"
      x-ms-trigger-hint: To see it work, create a new team with approval enabled on a template.
      summary: When a Team Creation Approval is Requested
      description: When a team creation approval is requested.
      operationId: TeamCreationApprovalRequestedHook
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#teamcreationapprovalrequestedhook
      parameters:
        - in: body
          name: teamCreationApprovalRequestedRequestBody
          description: A TeamCreationApprovalRequestedRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/TeamCreationApprovalRequestedRequestBody"
      responses:
        "201":
          description: Created - Returns a Hook object.
          schema:
            $ref: "#/definitions/Hook"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /hooks/team_creation_approved:
    x-ms-notification-content:
      description: Payload of the Team Creation Approval Approved event
      schema:
        $ref: "#/definitions/TeamCreationApprovalApprovedNotificationPayload"
    post:
      tags:
        - hooks
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: TeamCreationApprovalApprovedHook
        revision: 1
      x-ms-trigger: "single"
      x-ms-trigger-hint: To see it work, create a new team with approval enabled on a template, and approve the approval request.
      summary: When a Team Creation is Approved
      description: When a team creation is approved.
      operationId: TeamCreationApprovalApprovedHook
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#teamcreationapprovalapprovedhook
      parameters:
        - in: body
          name: teamCreationApprovalApprovedRequestBody
          description: A TeamCreationApprovalApprovedRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/TeamCreationApprovalApprovedRequestBody"
      responses:
        "201":
          description: Created - Returns a Hook object.
          schema:
            $ref: "#/definitions/Hook"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /hooks/team_creation_rejected:
    x-ms-notification-content:
      description: Payload of the Team Creation Approval Rejected event
      schema:
        $ref: "#/definitions/TeamCreationApprovalRejectedNotificationPayload"
    post:
      tags:
        - hooks
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: TeamCreationApprovalRejectedHook
        revision: 1
      x-ms-trigger: "single"
      x-ms-trigger-hint: To see it work, create a new team with approval enabled on a template, and reject the approval request.
      summary: When a Team Creation is Rejected
      description: When a team creation is rejected.
      operationId: TeamCreationApprovalRejectedHook
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#teamcreationapprovalrejectedhook
      parameters:
        - in: body
          name: teamCreationApprovalRejectedRequestBody
          description: A TeamCreationApprovalRejectedRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/TeamCreationApprovalRejectedRequestBody"
      responses:
        "201":
          description: Created - Returns a Hook object.
          schema:
            $ref: "#/definitions/Hook"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /hooks/team_created:
    x-ms-notification-content:
      description: Payload of the Team Created event
      schema:
        $ref: "#/definitions/TeamCreatedNotificationPayload"
    post:
      tags:
        - hooks
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Preview
        family: TeamCreatedHook
        revision: 1
      x-ms-trigger: "single"
      x-ms-trigger-hint: To see it work, create a new team.
      summary: When a Team is Created
      description: When a new team is created.
      operationId: TeamCreatedHook
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#teamcreatedhook
      parameters:
        - in: body
          name: teamCreatedRequestBody
          description: A TeamCreatedRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/TeamCreatedRequestBody"
      responses:
        "201":
          description: Created - Returns a Hook object.
          schema:
            $ref: "#/definitions/Hook"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /hooks/team_provisioning_completed:
    x-ms-notification-content:
      description: Payload of the Team Provisioning Completed event
      schema:
        $ref: "#/definitions/TeamProvisioningCompletedNotificationPayload"
    post:
      tags:
        - hooks
      x-ms-trigger: "single"
      x-ms-trigger-hint: To see it work, create a new team from nBold.
      x-ms-visibility: important
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: TeamProvisioningCompletedHook
        revision: 1
      summary: When a Team is Provisioned Using a Collaboration Template
      description: When a team is provisioned using a collaboration template.
      operationId: TeamProvisioningCompletedHook
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#teamprovisioningcompletedhook
      parameters:
        - in: body
          name: teamProvisioningCompletedRequestBody
          description: A TeamProvisioningCompletedRequestBody object.
          required: true
          schema:
            $ref: "#/definitions/TeamProvisioningCompletedRequestBody"
      responses:
        "201":
          description: Created - Returns a Hook object.
          schema:
            $ref: "#/definitions/Hook"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # WEBHOOKS OPERATIONS
  # -----------------------------------------------------------------------------
  /hooks/signature:
    post:
      tags:
        - hooks
      x-ms-visibility: advanced
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: GenerateHookSignature
        revision: 1
      summary: Generate a Signature for a Webhook
      description: Generate a signature from a secret and a webhook payload.
      operationId: GenerateHookSignature
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#generatehooksignature
      parameters:
        - in: body
          name: generateHookSignatureRequestBody
          x-ms-summary: Webhook Signature Request
          description: A GenerateHookSignatureRequestBody object comprised of the secret and payload.
          required: true
          schema:
            $ref: "#/definitions/GenerateHookSignatureRequestBody"
      responses:
        "200":
          description: Generated - Returns a HookSignature.
          schema:
            $ref: "#/definitions/HookSignature"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  # -----------------------------------------------------------------------------
  # HIDDEN: POWER PLATFORM / LOGIC APPS SPECIFIC OPERATION TO DELETE A WEBHOOK
  # -----------------------------------------------------------------------------
  /hooks/{hookId}:
    delete:
      tags:
        - hooks
      x-ms-visibility: internal
      deprecated: false
      x-ms-api-annotation:
        status: Production
        family: DeleteHook
        revision: 1
      summary: Delete a Webhook
      description: Delete a webhook.
      operationId: DeleteHook
      externalDocs:
        url: https://docs.nbold.co/api/latest/reference/Apis/HooksApi.html#deletehook
      parameters:
        - in: path
          name: hookId
          description: ID of the webhook to be deleted
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns the deleted Hook object.
          schema:
            $ref: "#/definitions/Hook"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

# -----------------------------------------------------------------------------
# MODELS
# -----------------------------------------------------------------------------
definitions:
  # -----------------------------------------------------------------------------
  # APPROVALS
  # -----------------------------------------------------------------------------
  ApproveTeamCreationRequestBody:
    x-ms-summary: A positive approval request body
    description: A positive approval request body.
    type: object
    properties:
      approver:
        x-ms-summary: Approver
        description: Approver of the request
        type: object
        properties:
          id:
            x-ms-summary: ID
            description: Impersonate the approver by specifying a User ID. If empty, you'll be automatically assigned as the approver.
            type: string
            x-ms-dynamic-values:
              operationId: GetUsers
              value-path: id
              value-title: displayName
              value-collection: value
      message:
        x-ms-summary: Message
        description: Message to be sent to the requester.
        type: string
      updates:
        x-ms-summary: Team
        description: Updates made by the approver
        type: object
        properties:
          name:
            x-ms-summary: Name
            description: Overrides the team name defined by the requester.
            type: string
          description:
            x-ms-summary: Description
            description: Overrides the team description defined by the requester.
            type: string
          welcomeMessage:
            x-ms-summary: Welcome Message
            description: Overrides the welcome message defined by the requester.
            type: string

  RejectTeamCreationRequestBody:
    x-ms-summary: A negative approval request body
    description: A negative approval request body.
    type: object
    properties:
      approver:
        x-ms-summary: Approver
        description: Approver of the request
        type: object
        properties:
          id:
            x-ms-summary: ID
            description: Impersonate the approver by specifying a User ID. If empty, you'll be automatically assigned as the approver.
            type: string
            x-ms-dynamic-values:
              operationId: GetUsers
              value-path: id
              value-title: displayName
              value-collection: value
      message:
        x-ms-summary: Message
        description: Message to be sent to the requester.
        type: string

  # -----------------------------------------------------------------------------
  # TEAMS
  # -----------------------------------------------------------------------------
  Team:
    x-ms-summary: Team
    title: Team
    description: A Microsoft Teams team.
    type: object
    properties:
      id:
        x-ms-summary: ID
        title: Team ID
        description: Team ID
        type: string
      createdDateTime:
        x-ms-summary: Created Date Time
        title: Team Created Date Time
        description: Team Created Date Time
        type: string
      displayName:
        x-ms-summary: Display Name
        title: Team Display Name
        description: Team Display Name
        type: string
      description:
        x-ms-summary: Description
        title: Team Description
        description: Team Description
        type: string
      internalId:
        x-ms-summary: Internal ID
        title: Team Internal ID
        description: Team Internal ID
        type: string
      classification:
        x-ms-summary: Classification
        title: Team Classification
        description: Team Classification
        type: string
      specialization:
        x-ms-summary: Specialization
        title: Team Specialization
        description: Team Specialization
        type: string
      visibility:
        x-ms-summary: Visibility
        title: Team Visibility
        description: Team Visibility
        type: string
      webUrl:
        x-ms-summary: Web URL
        title: Team Web URL
        description: Team Web URL
        type: string
      isArchived:
        x-ms-summary: Is Archived
        title: Team Is Archived
        description: Team Is Archived
        type: boolean
      isMembershipLimitedToOwners:
        x-ms-summary: Membership Limited To Owners
        title: Team Is Membership Limited To Owners
        description: Team Is Membership Limited To Owners
        type: boolean
      discoverySettings:
        x-ms-summary: Discovery Settings
        type: object
        properties:
          showInTeamsSearchAndSuggestions:
            x-ms-summary: Visibility In Search
            title: Shown in search suggestions
            description: Is the team shown in search suggestions
            type: boolean
      memberSettings:
        x-ms-summary: Member Settings
        type: object
        properties:
          allowCreateUpdateChannels:
            x-ms-summary: Create Update Channels
            title: Allow create Update Channels
            description: Allow create update channels
            type: boolean
          allowCreatePrivateChannels:
            x-ms-summary: Create Private Channels
            title: Allow create private channels
            description: Allow create private channels
            type: boolean
          allowDeleteChannels:
            x-ms-summary: Delete Channels
            title: Allow delete channels
            description: Allow delete channels
            type: boolean
          allowAddRemoveApps:
            x-ms-summary: Add/Remove Apps
            title: Allow add/remove apps
            description: Allow add/remove apps
            type: boolean
          allowCreateUpdateRemoveTabs:
            x-ms-summary: Create/Remove Tabs
            title: Allow create/remove tabs
            description: Allow create/remove tabs
            type: boolean
          allowCreateUpdateRemoveConnectors:
            x-ms-summary: Create/Remove Connectors
            title: Allow create/remove connectors
            description: Allow create/remove connectors
            type: boolean
      guestSettings:
        x-ms-summary: Guests Settings
        type: object
        properties:
          allowCreateUpdateChannels:
            x-ms-summary: Create/Update Channels by Guests
            title: Allow create/update channels by guests
            description: Allow create/update channels by guests
            type: boolean
          allowDeleteChannels:
            x-ms-summary: Delete Channels by Guests
            title: Allow delete channels by guests
            description: Allow delete channels by guests
            type: boolean
      messagingSettings:
        x-ms-summary: Messaging Settings
        type: object
        properties:
          allowUserEditMessages:
            x-ms-summary: Edit Messages
            title: Allow users to edit messages
            description: Allow users to edit messages
            type: boolean
          allowUserDeleteMessages:
            x-ms-summary: Delete Own Messages
            title: Allow users to delete their own messages
            description: Allow users to delete their own messages
            type: boolean
          allowOwnerDeleteMessages:
            x-ms-summary: Delete Messages by Owners
            title: Allow owners to delete messages
            description: Allow owners to delete messages
            type: boolean
          allowTeamMentions:
            x-ms-summary: Team Mentions
            title: Allow team mentions
            description: Allow team mentions
            type: boolean
          allowChannelMentions:
            x-ms-summary: Channel Mentions
            title: Allow channel mentions
            description: Allow channel mentions
            type: boolean
      funSettings:
        x-ms-summary: Fun Settings
        type: object
        properties:
          allowGiphy:
            x-ms-summary: Giphy
            title: Allow Giphy
            description: Allow Giphy
            type: boolean
          giphyContentRating:
            x-ms-summary: Giphy Content Rating
            title: Giphy content rating level
            description: Giphy content rating level
            type: string
          allowStickersAndMemes:
            x-ms-summary: Stickers and Memes
            title: Allow stickers and memes
            description: Allow stickers and memes
            type: boolean
          allowCustomMemes:
            x-ms-summary: Custom Memes
            title: Allow custom memes
            description: Allow custom memes
            type: boolean

  TeamArchivingOptions:
    title: Team Archiving Options
    description: Team Archiving Options.
    type: object
    properties:
      shouldSetSpoSiteReadOnlyForMembers:
        x-ms-summary: Set SherePoint Read-Only
        title: Defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team
        description: Defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team.
        type: boolean

  TeamMembershipPayload:
    title: Team Membership Payload
    description: Team Membership Payload.
    type: object
    properties:
      user:
        title: User
        description: User
        type: object
        properties:
          id:
            title: ID
            description: ID
            type: string
            x-ms-summary: ID
            x-ms-dynamic-values:
              operationId: GetUsers
              value-path: id
              value-title: displayName
              value-collection: value
        required:
          - id
      role:
        title: Team Membership Role
        description: Team Membership Role (member/owner)
        type: string
        enum:
          - member
          - owner
          - unknownFutureValue
    required:
      - role

  TeamMember:
    title: Team Member
    description: Team member.
    type: object

  TeamChannels:
    title: Team Channels
    description: Channels of a Microsoft Teams team.
    type: array
    items:
      $ref: "#/definitions/TeamChannel"

  TeamChannel:
    title: Team Channel
    description: Channel of a Microsoft Teams team.
    type: object
    properties:
      id:
        x-ms-summary: ID
        title: Team Channel ID
        description: Team Channel ID
        type: string
      createdDateTime:
        x-ms-summary: Created Date Time
        title: Team Channel Created Date Time
        description: Team Channel Created Date Time
        type: string
      displayName:
        x-ms-summary: Display Name
        title: Team Channel Display Name
        description: Team Channel Display Name
        type: string
      description:
        x-ms-summary: Description
        title: Team Channel Description
        description: Team Channel Description
        type: string
      membershipType:
        x-ms-summary: Membership Type
        title: Team Channel Membership Type
        description: Team Channel Membership Type
        type: string

  TeamChannelPayload:
    title: Team Channel Payload
    description: Payload of a Microsoft Teams team channel to be created/updated.
    type: object

  TeamChannelTabs:
    title: Team Channel Tabs
    description: Tabs from a Channel of a Microsoft Teams team.
    type: array
    items:
      $ref: "#/definitions/TeamChannelTab"

  TeamChannelTab:
    title: Team Channel Tab
    description: Tab from a Channel of a Microsoft Teams team.
    type: object
    properties:
      id:
        x-ms-summary: ID
        title: Team Channel Tab ID
        description: Team Channel Tab ID
        type: string
      displayName:
        x-ms-summary: Display Name
        title: Team Channel Tab Display Name
        description: Team Channel Tab Display Name
        type: string
      configuration:
        x-ms-summary: Configuration
        type: object
        properties:
          entityId:
            x-ms-summary: ID
            title: Team Channel Tab Configuration Entity ID
            description: Team Channel Tab Configuration Entity ID
            type: string
          contentUrl:
            x-ms-summary: Content URL
            title: Team Channel Tab Configuration Content URL
            description: Team Channel Tab Configuration Content URL
            type: string
          websiteUrl:
            x-ms-summary: Website URL
            title: Team Channel Tab Configuration Website URL
            description: Team Channel Tab Configuration Website URL
            type: string
          removeUrl:
            x-ms-summary: Remove URL
            title: Team Channel Tab Configuration Remove URL
            description: Team Channel Tab Configuration Remove URL
            type: string
      teamsApp:
        x-ms-summary: App
        type: object
        properties:
          id:
            x-ms-summary: ID
            title: Team Channel Tab Teams App ID
            description: Team Channel Tab Teams App ID
            type: string
          externalId:
            x-ms-summary: External ID
            title: Team Channel Tab Teams App External ID
            description: Team Channel Tab Teams App External ID
            type: string
          displayName:
            x-ms-summary: Display Name
            title: Team Channel Tab Teams App Display Name
            description: Team Channel Tab Teams App Display Name
            type: string
          distributionMethod:
            x-ms-summary: Distribution Method
            title: Team Channel Tab Teams App Distribution Method
            description: Team Channel Tab Teams App Distribution Method
            type: string
      sortOrderIndex:
        x-ms-summary: Sort Order Index
        title: Team Channel Tab Sort Order Index
        description: Team Channel Tab Sort Order Index
        type: string
      webUrl:
        x-ms-summary: Web URL
        title: Team Channel Tab Web URL
        description: Team Channel Tab Web URL
        type: string

  TeamChannelTabPayload:
    title: Team Channel Tab Payload
    description: Payload of a Microsoft Teams team channel tab to be created/updated.
    type: object

  # -----------------------------------------------------------------------------
  # LABELS
  # -----------------------------------------------------------------------------
  Labels:
    title: Labels
    description: A collection of Microsoft 365 sensitivity labels.
    type: object
    properties:
      value:
        x-ms-summary: Collection
        description: Array of labels
        type: array
        items:
          $ref: "#/definitions/Label"

  Label:
    x-ms-summary: Label
    title: Label
    description: A Microsoft 365 sensitivity label.
    type: object
    properties:
      id:
        x-ms-summary: ID
        title: ID
        description: Label ID
        type: string
      name:
        x-ms-summary: Name
        title: Name
        description: Label name
        type: string
      description:
        title: Description
        description: Label description
        type: string
      color:
        title: Color
        description: Label color
        type: string
      sensitivity:
        title: Sensitivity
        description: Label sensitivity
        type: integer
        format: int32
      tooltip:
        title: Tooltip
        description: Label tooltip
        type: string
      isActive:
        title: Is active
        description: Is label active
        type: boolean
      parent:
        title: Parent
        description: Parent label
        type: string

  # -----------------------------------------------------------------------------
  # USERS
  # -----------------------------------------------------------------------------
  Users:
    title: Users
    description: A collection of Microsoft 365 users.
    type: object
    properties:
      value:
        description: Array of users
        type: array
        items:
          $ref: "#/definitions/User"

  User:
    title: User
    description: A Microsoft 365 user.
    type: object

  # -----------------------------------------------------------------------------
  # TEMPLATES
  # -----------------------------------------------------------------------------
  CatalogTemplates:
    title: Collaboration Templates
    description: A collection of collaboration templates from your corporate catalog. See [https://docs.nbold.co/api/latest/reference/Models/CatalogTemplate](https://docs.nbold.co/api/latest/reference/Models/CatalogTemplate) for more information.
    type: object
    properties:
      value:
        x-ms-summary: Collection
        description: Array of catalog templates
        type: array
        items:
          $ref: "#/definitions/CatalogTemplate"

  CatalogTemplate:
    title: Collaboration Template
    description: A collaboration template from your corporate catalog. See [https://docs.nbold.co/api/latest/reference/Models/CatalogTemplate](https://docs.nbold.co/api/latest/reference/Models/CatalogTemplate) for more information.
    type: object
    properties:
      templateConfiguration:
        description: Information about the template and its related policies
        type: object
        properties:
          id:
            x-ms-summary: ID
            description: The collaboration template ID.
            type: string
          name:
            x-ms-summary: Name
            description: The collaboration template name.
            type: string
          description:
            x-ms-summary: Description
            description: The collaboration template description.
            type: string
          pictureUrl:
            x-ms-summary: Picture URL
            description: The collaboration template picture URL.
            type: string
          language:
            x-ms-summary: Language
            description: The collaboration template language (e.g. 'en-US').
            type: string
          enabled:
            x-ms-summary: Enabled
            description: Defines if the collaboration template is enabled or not, and therefore available for end-users or not.
            # type: string
          approval:
            description: The template approval policy.
            type: object
            properties:
              requireApproval:
                x-ms-summary: Requires Approval
                description: Defines if the collaboration template requires an approval or not.
                # type: boolean
              approvalTeam:
                $ref: "#/definitions/ApprovalTeamMembers"
          permanentMembership:
            description: The template permanent membership policy.
            type: object
            properties:
              members:
                $ref: "#/definitions/PermanentMembers"
              owners:
                $ref: "#/definitions/PermanentMembers"
          audienceTargeting:
            description: The template audience targeting policy.
            type: object
            properties:
              enabled:
                x-ms-summary: Audience Targeting Enabled
                description: Defines if the collaboration template should be restricted to specific audiences or not.
                # type: boolean
              rules:
                x-ms-summary: Audience Targeting Rules
                description: Defines the audience targeting rules.
                type: string
      clonedTeam:
        description: Properties of the source team that should be cloned.
        type: object
        properties:
          teamId:
            x-ms-summary: Source Team ID
            description: The collaboration template source team ID.
            type: string
          teamName:
            x-ms-summary: Source Team Name
            description: The collaboration template source team name.
            type: string
          includeApps:
            x-ms-summary: Apps Cloning
            description: Defines if apps should be cloned from the source team.
            # type: boolean
          includeTabs:
            x-ms-summary: Tabs Cloning
            description: Defines if tabs should be cloned from the source team.
            # type: boolean
          includeSettings:
            x-ms-summary: Settings Cloning
            description: Defines if the team settings should be cloned from the source team.
            # type: boolean
          includeChannels:
            x-ms-summary: Channels Cloning
            description: Defines if channels should be cloned from the source team.
            # type: boolean
          includeMembers:
            x-ms-summary: Membership Cloning
            description: Defines if membership (members and owners) should be cloned from the source team.
            # type: boolean
      newTeam:
        description: Properties of the new team that will be created by the provisioning job.
        type: object
        properties:
          namingConvention:
            x-ms-summary: Naming Convention
            description: Defines the naming convention for the new team name (Without the tags HTML representation).
            type: string
          emailConvention:
            x-ms-summary: Email Convention
            description: Defines the naming convention for the email associated with the underlying group of the new team name (Without the tags HTML representation).
            type: string
          descriptionConvention:
            x-ms-summary: Description Convention
            description: Defines the naming convention for the new team description (Without the tags HTML representation).
            type: string
          welcomeMessageConvention:
            x-ms-summary: Welcome Message Convention
            description: Defines the naming convention for the new team welcome message (Without the tags HTML representation).
            type: string
          defaultName:
            x-ms-summary: Default Team Name
            description: Defines the default team name presented to end-users in the new team provisioning form.
            type: string
          defaultDescription:
            x-ms-summary: Default Team Description
            description: Defines the default team description presented to end-users in the new team provisioning form.
            type: string
          defaultWelcomeMessage:
            x-ms-summary: Default Welcome Message
            description: Defines the default team welcome message presented to end-users in the new team provisioning form.
            type: string
          teamPrivacy:
            x-ms-summary: Team Privacy
            description: Defines the new team privacy level (public/private).
            type: string
            enum:
              - public
              - private
          addRequesterAsTeamOwner:
            x-ms-summary: Requester Ownership
            description: Defines if the requester of the new team should be invited as a team owner or just as a team member.
            # type: boolean

  PermanentMembers:
    title: Permanent Members
    description: Members of a permanent membership team, as an array of PermanentMember. See [https://docs.nbold.co/api/latest/reference/Models/PermanentMember](https://docs.nbold.co/api/latest/reference/Models/PermanentMember) for more information.
    type: array
    items:
      $ref: "#/definitions/PermanentMember"

  PermanentMember:
    title: Permanent Member
    description: Object representing a permanent member. See See [https://docs.nbold.co/api/latest/reference/Models/PermanentMember](https://docs.nbold.co/api/latest/reference/Models/PermanentMember) for more information.
    type: object
    properties:
      id:
        title: ID
        description: User ID (From Active Directory)
        type: string
      name:
        title: Name
        description: User Display Name (From Active Directory)
        type: string

  ApprovalTeamMembers:
    title: Approval Team Members
    description: Members of an approval team, as an array of ApprovalTeamMember. See [https://docs.nbold.co/api/latest/reference/Models/ApprovalTeamMember](https://docs.nbold.co/api/latest/reference/Models/ApprovalTeamMember) for more information.
    type: array
    items:
      $ref: "#/definitions/ApprovalTeamMember"

  ApprovalTeamMember:
    title: Approval Team Member
    description: Object representing an approval team member. See See [https://docs.nbold.co/api/latest/reference/Models/ApprovalTeamMember](https://docs.nbold.co/api/latest/reference/Models/ApprovalTeamMember) for more information.
    type: object
    properties:
      id:
        title: ID
        description: User ID (From Active Directory)
        type: string
      name:
        title: Name
        description: User Display Name (From Active Directory)
        type: string

  # -----------------------------------------------------------------------------
  # PROVISIONING
  # -----------------------------------------------------------------------------
  TeamProvisioningRequest:
    title: Team Provisioning Request
    description: A request to provision a team based on a template from your corporate catalog. See [https://docs.nbold.co/api/latest/reference/Models/ProvisioningRequest](https://docs.nbold.co/api/latest/reference/Models/ProvisioningRequest) for more information.
    type: object
    properties:
      template:
        description: Template to be applied to the provisioned team
        type: object
        properties:
          id:
            x-ms-summary: Collaboration Template
            description: The collaboration template ID
            x-ms-visibility: important
            x-ms-dynamic-values:
              operationId: GetMyCatalogTemplates
              value-path: templateConfiguration/id
              value-title: templateConfiguration/name
              value-collection: value
            type: string
        required:
          - id
      team:
        description: Properties of the team to be created
        type: object
        properties:
          name:
            x-ms-summary: Team Name
            description: Requested team name
            x-ms-visibility: important
            type: string
          description:
            x-ms-summary: Team Description
            description: Requested team description
            x-ms-visibility: advanced
            type: string
          welcomeMessage:
            x-ms-summary: Team Welcome Message
            description: Requested team welcome message
            x-ms-visibility: advanced
            type: string
          membership:
            description: Requested members and owners of the team to be provisioned
            type: object
            properties:
              members:
                $ref: "#/definitions/MembersUserIdentifiers"
              owners:
                $ref: "#/definitions/OwnersUserIdentifiers"
        required:
          - name
      metadata:
        $ref: "#/definitions/AppMetadata"

  MembersUserIdentifiers:
    title: Teams Members
    x-ms-summary: Team Members
    description: An array of UserIdentifier. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.
    x-ms-visibility: advanced
    type: array
    items:
      $ref: "#/definitions/MemberUserIdentifier"

  OwnersUserIdentifiers:
    x-ms-summary: Team Owners
    x-ms-visibility: advanced
    title: Team Owners
    description: An array of UserIdentifier. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.
    type: array
    items:
      $ref: "#/definitions/OwnerUserIdentifier"

  MemberUserIdentifier:
    title: Team
    x-ms-summary: Team
    description: Team member ID. See See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.
    type: object
    properties:
      id:
        title: ID
        x-ms-summary: Member
        description: Team member ID.
        x-ms-dynamic-values:
          operationId: GetUsers
          value-path: id
          value-title: displayName
          value-collection: value
        type: string
    required:
      - id

  OwnerUserIdentifier:
    title: Team
    x-ms-summary: Team
    description: Team member ID. See See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.
    type: object
    properties:
      id:
        title: ID
        x-ms-summary: Owner
        description: Team owner ID
        x-ms-dynamic-values:
          operationId: GetUsers
          value-path: id
          value-title: displayName
          value-collection: value
        type: string
    required:
      - id

  AppMetadata:
    title: Metadata
    x-ms-summary: Metadata
    description: Additional metadata as a JSON object. See [https://docs.nbold.co/api/latest/reference/Models/TeamProvisioningRequest](https://docs.nbold.co/api/latest/reference/Models/TeamProvisioningRequest) for more information.
    x-ms-visibility: advanced
    type: object

  Job:
    title: Job
    description: A job that performs some tasks asynchronously. See [https://docs.nbold.co/api/latest/reference/Models/Job](https://docs.nbold.co/api/latest/reference/Models/Job) for more information.
    type: object
    properties:
      id:
        description: The job ID, auto-generated at creation
        type: string
      log:
        $ref: "#/definitions/JobLogs"
      type:
        description: The job type (for instance `ProvisioningRequest`)
        type: string
      status:
        title: Job Status
        description: The job current status
        type: string
        enum:
          - active
          - waiting
          - completed
          - failed
          - deleyed
          - paused
          - unknownFutureValue
      progress:
        description: The job current progress
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      data:
        description: The job data (for instance a `ProvisioningRequest` object)
        type: object

  JobLogs:
    title: Job Logs
    description: A collection of JobLogsEntry. See [https://docs.nbold.co/api/latest/reference/Models/JobLogs](https://docs.nbold.co/api/latest/reference/Models/JobLogs) for more information.
    type: array
    items:
      $ref: "#/definitions/JobLogsEntry"

  JobLogsEntry:
    title: Job Logs Entry
    description: A job logs entry. See [https://docs.nbold.co/api/latest/reference/Models/JobLogsEntry](https://docs.nbold.co/api/latest/reference/Models/JobLogsEntry) for more information.
    type: string

  # -----------------------------------------------------------------------------
  # HOOKS
  # -----------------------------------------------------------------------------
  Hook:
    x-ms-summary: Webhook
    title: Webhook
    description: A webhook.
    type: object
    properties:
      id:
        x-ms-summary: ID
        description: Webhook ID
        type: string
      name:
        x-ms-summary: Name
        description: Webhook name
        type: string
      description:
        x-ms-summary: Description
        description: Webhook description
        type: string
      active:
        x-ms-summary: Status
        description: Defines if the webhook is active or not.
        type: boolean
      events:
        $ref: "#/definitions/HookEvents"
      config:
        x-ms-summary: HTTP
        description: Webhook configuration
        type: object
        properties:
          verb:
            x-ms-summary: Verb
            description: Webhook HTTP request verb
            type: string
          url:
            x-ms-summary: URL
            description: Webhook HTTP request url
            type: string
          content_type:
            x-ms-summary: Content Type
            description: Webhook HTTP request content type
            type: string
          secret:
            x-ms-summary: Secret
            description: Webhook HTTP request secret
            type: string

  HookEvents:
    x-ms-summary: Webhook Events
    title: Webhook events
    description: Webhook events
    type: array
    items:
      $ref: "#/definitions/HookEventCode"

  HookEventCode:
    x-ms-summary: Code
    title: Webhook event code
    description: Webhook event code
    type: string

  GenerateHookSignatureRequestBody:
    x-ms-summary: Signature
    title: Hook Signature Request
    description: A HookSignatureRequest object comprised of the secret and payload.
    type: object
    properties:
      secret:
        x-ms-summary: Secret
        x-ms-visibility: important
        description: Webhook secret
        type: string
        format: password
      payload:
        x-ms-summary: Payload
        x-ms-visibility: important
        description: Webhook payload
        type: object
    required:
      - secret
      - payload

  HookSignature:
    title: Hook Signature
    description: A Hook Signature generated from a secret and a payload.
    type: object
    properties:
      signature:
        x-ms-summary: Signature
        description: Calculated hook signature
        type: string

  # -----------------------------------------------------------------------------
  # TRIGGERS REQUESTS BODY
  # -----------------------------------------------------------------------------
  TeamCreationApprovalRequestedRequestBody:
    x-ms-visibility: important
    x-ms-summary: Webhook
    title: Webhook Payload
    description: A webhook payload.
    type: object
    properties:
      name:
        x-ms-summary: Webhook Name
        x-ms-visibility: important
        description: Name
        default: When a Team Creation Approval is Requested
        type: string
      description:
        x-ms-summary: Webhook Description
        x-ms-visibility: important
        description: Webhook description
        default: Created from Power Automate / Logic Apps
        type: string
      config:
        x-ms-summary: HTTP
        description: Webhook configuration
        type: object
        properties:
          verb:
            x-ms-summary: Verb
            x-ms-visibility: internal
            description: Webhook configuration verb
            type: string
            default: post
            enum: [post]
          url:
            x-ms-summary: URL
            x-ms-notification-url: true
            x-ms-visibility: internal
            description: Webhook configuration url
            type: string
          content_type:
            x-ms-summary: Content-Type
            x-ms-visibility: internal
            description: Webhook configuration content type
            type: string
            default: application/json
            enum: [application/json]
          secret:
            x-ms-summary: Secret
            x-ms-visibility: advanced
            description: A secret key that you can use to verify the webhook notification message
            type: string
            format: password
        required:
          - verb
          - url
          - content_type
    required:
      - name
      - description
      - config

  TeamCreationApprovalApprovedRequestBody:
    x-ms-visibility: important
    x-ms-summary: Webhook
    title: Webhook Payload
    description: A webhook payload.
    type: object
    properties:
      name:
        x-ms-summary: Webhook Name
        x-ms-visibility: important
        description: Name
        default: When a Team Creation is Approved
        type: string
      description:
        x-ms-summary: Webhook Description
        x-ms-visibility: important
        description: Webhook description
        default: Created from Power Automate / Logic Apps
        type: string
      config:
        x-ms-summary: HTTP
        description: Webhook configuration
        type: object
        properties:
          verb:
            x-ms-summary: Verb
            x-ms-visibility: internal
            description: Webhook configuration verb
            type: string
            default: post
            enum: [post]
          url:
            x-ms-summary: URL
            x-ms-notification-url: true
            x-ms-visibility: internal
            description: Webhook configuration url
            type: string
          content_type:
            x-ms-summary: Content-Type
            x-ms-visibility: internal
            description: Webhook configuration content type
            type: string
            default: application/json
            enum: [application/json]
          secret:
            x-ms-summary: Secret
            x-ms-visibility: advanced
            description: A secret key that you can use to verify the webhook notification message
            type: string
            format: password
        required:
          - verb
          - url
          - content_type
    required:
      - name
      - description
      - config

  TeamCreationApprovalRejectedRequestBody:
    x-ms-visibility: important
    x-ms-summary: Webhook
    title: Webhook Payload
    description: A webhook payload.
    type: object
    properties:
      name:
        x-ms-summary: Webhook Name
        x-ms-visibility: important
        description: Name
        default: When a Team Creation is Rejected
        type: string
      description:
        x-ms-summary: Webhook Description
        x-ms-visibility: important
        description: Webhook description
        default: Created from Power Automate / Logic Apps
        type: string
      config:
        x-ms-summary: HTTP
        description: Webhook configuration
        type: object
        properties:
          verb:
            x-ms-summary: Verb
            x-ms-visibility: internal
            description: Webhook configuration verb
            type: string
            default: post
            enum: [post]
          url:
            x-ms-summary: URL
            x-ms-notification-url: true
            x-ms-visibility: internal
            description: Webhook configuration url
            type: string
          content_type:
            x-ms-summary: Content-Type
            x-ms-visibility: internal
            description: Webhook configuration content type
            type: string
            default: application/json
            enum: [application/json]
          secret:
            x-ms-summary: Secret
            x-ms-visibility: advanced
            description: A secret key that you can use to verify the webhook notification message
            type: string
            format: password
        required:
          - verb
          - url
          - content_type
    required:
      - name
      - description
      - config

  TeamCreatedRequestBody:
    x-ms-visibility: important
    x-ms-summary: Webhook
    title: Webhook Payload
    description: A webhook payload.
    type: object
    properties:
      name:
        x-ms-summary: Webhook Name
        x-ms-visibility: important
        description: Name
        default: When a Team is Created
        type: string
      description:
        x-ms-summary: Webhook Description
        x-ms-visibility: important
        description: Webhook description
        default: Created from Power Automate / Logic Apps
        type: string
      config:
        x-ms-summary: HTTP
        description: Webhook configuration
        type: object
        properties:
          verb:
            x-ms-summary: Verb
            x-ms-visibility: internal
            description: Webhook configuration verb
            type: string
            default: post
            enum: [post]
          url:
            x-ms-summary: URL
            x-ms-notification-url: true
            x-ms-visibility: internal
            description: Webhook configuration url
            type: string
          content_type:
            x-ms-summary: Content-Type
            x-ms-visibility: internal
            description: Webhook configuration content type
            type: string
            default: application/json
            enum: [application/json]
          secret:
            x-ms-summary: Secret
            x-ms-visibility: advanced
            description: A secret key that you can use to verify the webhook notification message
            type: string
            format: password
        required:
          - verb
          - url
          - content_type
    required:
      - name
      - description
      - config

  TeamProvisioningCompletedRequestBody:
    x-ms-visibility: important
    x-ms-summary: Webhook
    title: Webhook Payload
    description: A webhook payload.
    type: object
    properties:
      name:
        x-ms-summary: Webhook Name
        x-ms-visibility: important
        description: Name
        default: When a Team is Provisioned Using a Collaboration Template
        type: string
      description:
        x-ms-summary: Webhook Description
        x-ms-visibility: important
        description: Webhook description
        default: Created from Power Automate / Logic Apps
        type: string
      config:
        x-ms-summary: HTTP
        description: Webhook configuration
        type: object
        properties:
          verb:
            x-ms-summary: Verb
            x-ms-visibility: internal
            description: Webhook configuration verb
            type: string
            default: post
            enum: [post]
          url:
            x-ms-summary: URL
            x-ms-notification-url: true
            x-ms-visibility: internal
            description: Webhook configuration url
            type: string
          content_type:
            x-ms-summary: Content-Type
            x-ms-visibility: internal
            description: Webhook configuration content type
            type: string
            default: application/json
            enum: [application/json]
          secret:
            x-ms-summary: Secret
            x-ms-visibility: advanced
            description: A secret key that you can use to verify the webhook notification message
            type: string
            format: password
        required:
          - verb
          - url
          - content_type
    required:
      - name
      - description
      - config

  # -----------------------------------------------------------------------------
  # TRIGGERS NOTIFICATION PAYLOADS
  # -----------------------------------------------------------------------------
  TeamCreationApprovalRequestedNotificationPayload:
    x-ms-summary: Team Creation Approval Requested
    title: Team Creation Approval Requested Notification Payload
    description: Team Creation Approval Requested Notification Payload.
    type: object
    properties:
      tenant:
        type: object
        properties:
          id:
            x-ms-summary: Current tenant ID
            description: Current tenant ID
            type: string
      requester:
        type: object
        properties:
          id:
            x-ms-summary: Requester ID
            description: Requester ID
            type: string
          displayName:
            x-ms-summary: Requester display name
            description: Requester display name
            type: string
          mail:
            x-ms-summary: Requester email
            description: Requester email
            type: string
      approval:
        type: object
        properties:
          id:
            x-ms-summary: Approval request ID
            description: Approval request ID
            type: string
      template:
        type: object
        properties:
          id:
            x-ms-summary: Template ID
            description: Template ID
            type: string
          name:
            x-ms-summary: Template name
            description: Template name
            type: string
          approvers:
            x-ms-summary: Approval team
            description: Approval team
            type: array
            items:
              type: object
          permanentMembership:
            x-ms-summary: Permanent members and owners
            description: Permanent members and owners
            type: object
      request:
        type: object
        properties:
          team:
            type: object
            properties:
              name:
                x-ms-summary: Requested team name
                description: Requested team name
                type: string
              description:
                x-ms-summary: Requested team description
                description: Requested team description
                type: string
              welcomeMessage:
                x-ms-summary: Requested team welcome message
                description: Requested team welcome message
                type: string
          membership:
            x-ms-summary: Requested members and owners
            description: Requested members and owners
            type: object

  TeamCreationApprovalApprovedNotificationPayload:
    x-ms-summary: Team Creation Approved
    title: Team Creation Approval Approved Notification Payload
    description: Team Creation Approval Approved Notification Payload.
    type: object
    properties:
      tenant:
        type: object
        properties:
          id:
            x-ms-summary: Current tenant ID
            description: Current tenant ID
            type: string
      requester:
        type: object
        properties:
          id:
            x-ms-summary: Requester ID
            description: Requester ID
            type: string
          displayName:
            x-ms-summary: Requester display name
            description: Requester display name
            type: string
          mail:
            x-ms-summary: Requester email
            description: Requester email
            type: string
      approval:
        type: object
        properties:
          id:
            x-ms-summary: Approval request ID
            description: Approval request ID
            type: string
          approver:
            x-ms-summary: Approver
            description: Approver
            type: object
            properties:
              id:
                x-ms-summary: Approver ID
                description: Approver ID
                type: string
              message:
                x-ms-summary: Approver message
                description: Approver message
                type: string
      template:
        type: object
        properties:
          id:
            x-ms-summary: Template ID
            description: Template ID
            type: string
          name:
            x-ms-summary: Template name
            description: Template name
            type: string
          approvers:
            x-ms-summary: Approval team
            description: Approval team
            type: array
            items:
              type: object
          permanentMembership:
            x-ms-summary: Permanent members and owners
            description: Permanent members and owners
            type: object
      request:
        type: object
        properties:
          team:
            type: object
            properties:
              name:
                x-ms-summary: Requested team name
                description: Requested team name
                type: string
              description:
                x-ms-summary: Requested team description
                description: Requested team description
                type: string
              welcomeMessage:
                x-ms-summary: Requested team welcome message
                description: Requested team welcome message
                type: string
          membership:
            x-ms-summary: Requested members and owners
            description: Requested members and owners
            type: object
      provisioning:
        type: object
        properties:
          id:
            x-ms-summary: Provisioning Job ID
            description: Provisioning Job ID
            type: string

  TeamCreationApprovalRejectedNotificationPayload:
    x-ms-summary: Team Creation Rejected
    title: Team Creation Approval Rejected Notification Payload
    description: Team Creation Approval Rejected Notification Payload.
    type: object
    properties:
      tenant:
        type: object
        properties:
          id:
            x-ms-summary: Current tenant ID
            description: Current tenant ID
            type: string
      requester:
        type: object
        properties:
          id:
            x-ms-summary: Requester ID
            description: Requester ID
            type: string
          displayName:
            x-ms-summary: Requester display name
            description: Requester display name
            type: string
          mail:
            x-ms-summary: Requester email
            description: Requester email
            type: string
      approval:
        type: object
        properties:
          id:
            x-ms-summary: Approval request ID
            description: Approval request ID
            type: string
          approver:
            x-ms-summary: Approver
            description: Approver
            type: object
            properties:
              id:
                x-ms-summary: Approver ID
                description: Approver ID
                type: string
              message:
                x-ms-summary: Approver message
                description: Approver message
                type: string
      template:
        type: object
        properties:
          id:
            x-ms-summary: Template ID
            description: Template ID
            type: string
          name:
            x-ms-summary: Template name
            description: Template name
            type: string
          approvers:
            x-ms-summary: Approval team
            description: Approval team
            type: array
            items:
              type: object
          permanentMembership:
            x-ms-summary: Permanent members and owners
            description: Permanent members and owners
            type: object
      request:
        type: object
        properties:
          team:
            type: object
            properties:
              name:
                x-ms-summary: Requested team name
                description: Requested team name
                type: string
              description:
                x-ms-summary: Requested team description
                description: Requested team description
                type: string
              welcomeMessage:
                x-ms-summary: Requested team welcome message
                description: Requested team welcome message
                type: string
          membership:
            x-ms-summary: Requested members and owners
            description: Requested members and owners
            type: object

  TeamCreatedNotificationPayload:
    title: Team Created
    description: Team Created Notification Payload.
    type: object
    properties:
      tenant:
        type: object
        properties:
          id:
            x-ms-summary: Current tenant ID
            description: Current tenant ID
            type: string
      team:
        type: object
        properties:
          id:
            x-ms-summary: Created team ID
            description: Created team ID
            type: string

  TeamProvisioningCompletedNotificationPayload:
    title: Team Provisioning Completed
    description: Team Provisioning Completed Notification Payload.
    type: object
    properties:
      tenant:
        type: object
        properties:
          id:
            x-ms-summary: Current tenant ID
            description: Current tenant ID
            type: string
          initialDomainName:
            x-ms-summary: Current tenant initial domain name
            description: Current tenant initial domain name
            type: string
          defaultDomainName:
            x-ms-summary: Current tenant default domain name
            description: Current tenant default domain name
            type: string
      team:
        type: object
        properties:
          id:
            x-ms-summary: Created team ID
            description: Created team ID
            type: string
          displayName:
            x-ms-summary: Created team diaplay name
            description: Created team display name
            type: string
      requester:
        type: object
        properties:
          id:
            x-ms-summary: Requester ID
            description: Requester ID
            type: string
          displayName:
            x-ms-summary: Requester display name
            description: Requester display name
            type: string
      template:
        type: object
        properties:
          id:
            x-ms-summary: Provisioning template ID
            description: Provisioning template  ID
            type: string
          name:
            x-ms-summary: Provisioning template name
            description: Provisioning template name
            type: string
      metadata:
        type: object

  # -----------------------------------------------------------------------------
  # API ERRORS
  # -----------------------------------------------------------------------------
  ApiError:
    title: API Error
    description: A generic API error
    type: object
    properties:
      "@odata.context":
        description: oData context of the request
        type: string
      error:
        description: JSON representation of the error
        type: object
        properties:
          code:
            description: The HTTP error code
            type: string
          message:
            description: The error message
            type: string
          innerError:
            description: JSON representation of the inner error (If available)
            type: object
            properties:
              date:
                description: Inner error date
                type: string
                format: date-time
              request-id:
                description: Server-side generated unique request identifier
                type: string

# -----------------------------------------------------------------------------
# HTTP RESPONSES
# -----------------------------------------------------------------------------
responses:
  200:
    description: OK - Indicates that the request has succeeded.
  201:
    description: Created - Indicates that the request has been fulfilled and has resulted in one or more new resources being created.
  202:
    description: Accepted - Indicates that the request has been accepted for processing, but the processing has not been completed.
  400:
    description: Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing). See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  401:
    description: Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...). See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  402:
    description: Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription. See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  403:
    description: Forbidden - Indicates that the server understood the request but refuses to authorize it. See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  404:
    description: Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists. See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  429:
    description: Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the "Retry-After" header. See [API throttling guidance](https://docs.nbold.co/api/throttling.html#salestim-api-throttling-guidance) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  500:
    description: Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request. See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  503:
    description: Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay. See [Handling expected errors](https://docs.nbold.co/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
